@CHARSET "UTF-8" !important;
.pagination{
 overflow:hidden !important;
 margin:0 !important;
 padding:10px 10px 6px 10px !important;
 _zoom:1 !important;
}
.pagination *{
 display:inline !important;
 float:left !important;
 margin:0 !important;
 padding:0 !important;
 font-size:12px !important;
}
.pagination i{
 float:none !important;
 padding-right:1px !important;
}
.currentPage b{
 float:none !important;
 color:#f00 !important;
}
.pagination li{
 list-style:none !important;
 margin:0 5px !important;
}
.pagination li li{
 position:relative !important;
 margin:-2px 0 0 !important;
 font-family: Arial, Helvetica, sans-serif
}
.firstPage a,.previousPage a,.nextPage a,.lastPage a{
 overflow:hidden !important;
 height:0 !important;
 text-indent:-9999em !important;
 border-top:8px solid #fff !important;
 border-bottom:8px solid #fff !important;
}
.pagination li li a{
 margin:0 1px !important;
 padding:0 4px !important;
 border:3px double #fff !important;
 +border-color:#eee !important;
 background:#eee !important;
 color:#06f !important;
 text-decoration:none !important;
}
.pagination li li a:hover{
 background:#f60 !important;
 border-color:#fff !important;
 +border-color:#f60 !important;
 color:#fff !important;
}
li.firstPage{
 margin-left:40px !important;
 border-left:3px solid #06f !important;
}
.firstPage a,.previousPage a{
 border-right:12px solid #06f !important;
}
.firstPage a:hover,.previousPage a:hover{
 border-right-color: #f60 !important;
}
.nextPage a,.lastPage a{
 border-left:12px solid #06f !important;
}
.nextPage a:hover,.lastPage a:hover{
 border-left-color:#f60 !important;
}
li.lastPage{
 border-right:3px solid #06f !important;
}
li li.currentState a{
 position:relative !important;
 margin:-1px 3px !important;
 padding:1px 4px !important;
 border:3px double #fff !important;
 +border-color:#f60 !important;
 background:#f60 !important;
 color:#fff !important;
}
li.currentState,.currentState a,.currentState a:hover{
 border-color:#fff #ccc !important;
 cursor:default !important;
}