<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Restaurant2017</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>servlet1</servlet-name>
		<servlet-class>com.cugb.javaee.action.UserLogIn</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>servlet1</servlet-name>
		<url-pattern>/UserLogIn</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet2</servlet-name>
		<servlet-class>com.cugb.javaee.action.UserLogOut</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>servlet2</servlet-name>
		<url-pattern>/UserLogOut</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet3</servlet-name>
		<servlet-class>com.cugb.javaee.action.UserSignUp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>servlet3</servlet-name>
		<url-pattern>/UserSignUp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet4</servlet-name>
		<servlet-class>com.cugb.javaee.action.AddItems</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>servlet4</servlet-name>
		<url-pattern>/AddItems</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet5</servlet-name>
		<servlet-class>com.cugb.javaee.action.DeleteItems</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet5</servlet-name>
		<url-pattern>/DeleteItem</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servlet6</servlet-name>
		<servlet-class>com.cugb.javaee.action.AddOneItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet6</servlet-name>
		<url-pattern>/AddOneItem</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servlet7</servlet-name>
		<servlet-class>com.cugb.javaee.action.DeleteOneItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet7</servlet-name>
		<url-pattern>/DeleteOneItem</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servlet8</servlet-name>
		<servlet-class>com.cugb.javaee.action.DeleteUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet8</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servlet9</servlet-name>
		<servlet-class>com.cugb.javaee.action.OrderPay</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet9</servlet-name>
		<url-pattern>/OrderPay</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servlet10</servlet-name>
		<servlet-class>com.cugb.javaee.action.UserLogOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet10</servlet-name>
		<url-pattern>/UserLogOut</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servlet11</servlet-name>
		<servlet-class>com.cugb.javaee.action.AdminAlterDish</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet11</servlet-name>
		<url-pattern>/AdminAlterDish</url-pattern>
	</servlet-mapping>
		
	<listener>
		<listener-class>com.cugb.javaee.action.UserSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.cugb.javaee.action.UserSessionAttributeListener</listener-class>
	</listener>
</web-app>